<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    
    <!-- Разрешения для файлов (улучшенная поддержка всех версий Android) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    
    <!-- Android 11+ разрешения для управления файлами -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" 
        tools:ignore="ScopedStorage" />
    
    <!-- ТСД сканер разрешения -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.WarehouseCamera">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.ManufacturerInfoActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.ArticleInfoActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.DefectDetailsActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.CameraActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.ItemListActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.GalleryActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.ImageViewerActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.gallery.GalleryBrowserActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.reception.ReceptionSelectionActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.reception.CreateReceptionActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.help.HelpActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.FileStructureActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.scanner.BarcodeScannerActivity" android:screenOrientation="portrait" />
        
        <!-- Диагностическая активность для отладки проблем с файлами -->
        <activity 
            android:name=".activity.DiagnosticActivity" 
            android:screenOrientation="portrait"
            android:label="File System Diagnostic"
            android:exported="false" />
        
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>